.ctlg_debug_default {

    font-size: 12px;
    line-height: 1.5;
    font-family: Verdana, Geneva, sans-serif;

    padding: 5px;

    background: #fff;
    color: #333;
    border: 1px dotted tomato;
}

.debug_code_example {

    position: relative;
    padding-left: 5px;
    margin-bottom: 10px;
}

.debug_code_example p {

    margin: 0;
}

.debug_code_example .debug_code_title {

    padding: 5px;
}

.ctlg_debug_default .debug_title {

    padding: 5px;
    font-size: 14px;

    margin: 0 0 15px 0;
}

.debug_code_example:before {

    content: '';
    position: absolute;

    width: 5px;

    top: 0;
    left: 0;
    bottom: 0;

    background: tomato;
}

.debug_code p {

    padding: 5px;
    line-height: 1;
    background: #333;
}

.debug_code code {

    font-family: "Courier New", Courier, monospace;
    display: block;
    padding: 2px;

    color: #fff;
}

.debug_code .indent {

    padding-left: 15px;
}
