.ctlg_social_sharing_buttons {

    position: relative;
}

.ctlg_social_sharing_buttons:after,
.ctlg_social_sharing_buttons:before {

    display: block;
    content: '';
    clear: both;
}

.ctlg_social_sharing_buttons svg {

    width: 20px;
    height: 20px;
    color: white;
    fill: currentColor;
}

.social_button {

    margin-right: 5px;
    display: block;
    float: left;
    width: auto;
}

.social_button:last-child {

    margin-right: 0;
}

.social_button a {

    width: 35px;
    height: 35px;
    display: table;
    padding: 3px 5px;
    border-radius: 3px;

    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.social_button a:focus,
.social_button a:hover {

    color: #fff;
    opacity: 0.8;
}

.social_button .social-share-icon {

    vertical-align: middle;
    display: table-cell;
    text-align: center;
    line-height: 0;
    height: 100%;
}

.social_button .social-share-label {

    display: none;
}

@media screen and (min-width: 768px) {

    .social_button a {

        width: 100%;
    }

    .social_button .social-share-icon {

        text-align: left;
        padding-right: 5px;
    }

    .social_button .social-share-label {

        line-height: 0;
        font-size: 14px;
        display: table-cell;
        vertical-align: middle;
    }
}

.ctlg_social_button_facebook a {

    background-color: #3B589E;
}

.ctlg_social_button_twitter a {

    background-color: #00AFE9;
}

.ctlg_social_button_linkedin a {

    background-color: #006599;
}

.ctlg_social_button_xing a {

    background-color: #0b6159;
}

.ctlg_social_button_mail a {

    background-color: #701834;
}

td.social_sharing_buttons .social_button a {

    padding: 0;
    width: 35px;
}

td.social_sharing_buttons .social_button .social-share-icon {

    text-align: center;
    padding-right: 0;
}

td.social_sharing_buttons .social_button .social-share-label {

    display: none;
}