.tl_catalog_widget.tl_select {

    min-width: 130px;
    max-width: 210px;
}

table.ctlg_taxonomies_field_selector_table tbody td {

    width: 150px;
    padding: 5px 4px;
}

td.ctlg_select_field {

    width: 225px;
    padding: 5px 4px;
}

td.ctlg_select_operator {

    width: 100px;
    padding: 5px 4px;
}

td.ctlg_text_value {

    width: 225px;
    padding: 5px 4px;
}

td.ctlg_button {

    width: 25px;
    padding: 5px 4px;
    text-align: right;
}

.ctlg_text.tl_text {

    width: 100%;
}

.ctlg_text_w50.tl_text {

    width: 49%;
    float: left;
    margin-right: 1%;
}

.ctlg_text_w50.tl_text.last {

    margin-right: 0;
}

.ctlg_taxonomies_field_selector_table .ctlg_taxonomy_main_selector {

    width: 275px;
}

.ctlg_taxonomies_field_selector_table .ctlg_taxonomy_main_selector .tl_select {

    width: 100% !important;
}

.ctlg_taxonomies_field_selector_table .ctlg_taxonomy_add_button {

    position: absolute;
    right: 0;
    top: 24%;
}

.ctlg_taxonomies_field_selector_table .ctlg_taxonomy_add_button a {

    display: block;
}

.tl_select.ctlg_select {

    width: 100%;
}

.tl_select.min-width {

    min-width: 100px;
}

@media only screen and ( min-width: 480px ) {

    .tl_select.min-width {

        min-width: 145px;
    }
}

@media only screen and ( min-width: 768px ) {

    .ctlg_taxonomies_field_selector_table .ctlg_taxonomy_main_selector {

        width: 315px;
    }
}